/* Download Inter font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --grey-shade: #fafafa;
  --grey-shade-2: #f2f2f2;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  line-height: 2px;
  word-spacing: 2px;
  font-size: 20px;
  font-weight: 400;
}

.question,
.para {
  text-align: left;
}

.heading {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 800;
}

/* Not working */
.img-rotate {
  transform: rotate(30deg);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  opacity: 0.5;
}

.container {
  width: 70%;
  height: 600px;
  margin: 50px auto;
  padding: 20px;
}

.faqs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
}

.icon-image {
  width: 30px;
  height: auto;
  justify-self: end;
  opacity: 0.4;
}

.question {
  justify-self: start;
  font-weight: 500;
  font-size: 15px;
}

.data-hide {
  display: none;
}

/* Not working */

.para {
  grid-column: 1/-1;
  justify-self: start;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.para.show {
  opacity: 1;
}

.element-button {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  row-gap: 5px;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  border-right: none;
  border-bottom: solid 2px #00000000;
  border-left: none;
  border-collapse: collapse;
}

.btn {
  background-color: #fffffff6;
}

.element-button:hover,
.element-button:active {
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(to bottom, red, #00000000) 1 100%;
  border-bottom: solid black 2px;
}

/* Working */
.element-button:hover .icon-image {
  opacity: 1;
}
